<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Christian Genco <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="#">settings</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#">Sign Out</a></li>
</ul>
