<div class="list-group">
  <% submissions.each do |submission| %>
    <%= render 'submissions/list_item', submission: submission %>
  <% end %>
</div>

<% if submissions.empty? %>
No solutions yet.
<% end %>

<!--
<ul class="list-group">
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item disabled">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
</ul>
 -->
