<% @submissions.each do |challenge_id, submissions| %>
  <% challenge = Challenge.find(challenge_id) %>
    <h2><%= link_to challenge.name, challenge_path(challenge_id) %></h2>

    <% unless challenge.challenge.blank? %>
      <%= markdown(challenge.challenge).html_safe %>
    <% end %>

    <%= render 'submissions/list', submissions: submissions %>
  <% end %>