<% @submissions.each do |challenge_id, submissions| %>
  <h2><%= link_to submissions.first.challenge.name, challenge_path(challenge_id) %></h2>
  <%= render 'submissions/list', submissions: submissions %>
<% end %>
