<h1><%= link_to "#{@challenge.name}", @challenge %></h1>

<%= render 'submissions/list_item', submission: @submission %>
<br />

<%= render 'comments/list', comments: @submission.comments, commentable_id: @submission.id, commentable_type: @submission.class %>
