<ol class="breadcrumb">
  <li>
    <%= link_to 'Challenges', challenges_path %>
  </li>
  <% if challenge %>
    <li>
      <%= link_to challenge.category, challenges_path(anchor: challenge.category) %>
    </li>
    <li>
      <%= link_to challenge.name, challenge %>
    </li>
  <% end %>
  <!-- <li class="active">Data</li> -->
</ol>
