<%= render 'breadcrumbs', challenge: @challenge %>

<h1>
  <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-default" %>
  <%= @challenge.name %>
</h1>

<%= markdown(@challenge.description).html_safe %>
