@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";
@import "simplemde.min";
@import "toastr.min";

// highlight.js
@import "github.min.css";

@import "challenges";

.input-group-addon > .checkbox{
  margin: 0;
}

form.button_to{
  display: inline;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.shadow{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.74);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.74);
}
