<title>Mosaic</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render "layouts/cloudinary_javascript_keys" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
