<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= bootstrap_flash %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <br><br>
    <%# render 'layouts/modal' %>
  </body>
</html>
